In [51]:
import pandas as pd
import numpy as np

In [52]:
df=pd.read_csv('/content/drive/MyDrive/dataset/demand-forecasting-kernels-only/final_train.csv')

In [54]:
df.head()

         date  store  item  ...  sales_lag_364  sales_lag_546  sales_lag_728
0  2013-01-01      1     1  ...            NaN            NaN            NaN
1  2013-01-02      1     1  ...            NaN            NaN            NaN
2  2013-01-03      1     1  ...            NaN            NaN            NaN
3  2013-01-04      1     1  ...            NaN            NaN            NaN
4  2013-01-05      1     1  ...            NaN            NaN            NaN

[5 rows x 20 columns]

here i have used describe just to get mean values for all shift/lag features

In [55]:
df.describe()

               store           item  ...  sales_lag_546  sales_lag_728
count  913000.000000  913000.000000  ...  640000.000000  549000.000000
mean        5.500000      25.500000  ...      49.466249      48.594454
std         2.872283      14.430878  ...      27.233630      26.644817
min         1.000000       1.000000  ...      -1.061433      -1.132521
25%         3.000000      13.000000  ...      28.125050      27.686138
50%         5.500000      25.500000  ...      44.515972      43.804790
75%         8.000000      38.000000  ...      65.907583      64.782432
max        10.000000      50.000000  ...     196.625206     198.488047

[8 rows x 17 columns]

In [56]:
data=df.copy()

Handled some missing values in newly generated features
(should be done in feature engineering)

In [57]:
df['sales_lag_91']=df['sales_lag_91'].fillna(df['sales_lag_91'].mean())

In [58]:
df['sales_lag_98']=df['sales_lag_98'].fillna(df['sales_lag_98'].mean())
df['sales_lag_105']=df['sales_lag_105'].fillna(df['sales_lag_105'].mean())
df['sales_lag_112']=df['sales_lag_112'].fillna(df['sales_lag_112'].mean())
df['sales_lag_119']=df['sales_lag_119'].fillna(df['sales_lag_119'].mean())
df['sales_lag_126']=df['sales_lag_126'].fillna(df['sales_lag_126'].mean())
df['sales_lag_182']=df['sales_lag_182'].fillna(df['sales_lag_182'].mean())
df['sales_lag_364']=df['sales_lag_364'].fillna(df['sales_lag_364'].mean())
df['sales_lag_546']=df['sales_lag_546'].fillna(df['sales_lag_546'].mean())
df['sales_lag_728']=df['sales_lag_728'].fillna(df['sales_lag_728'].mean())

In [59]:
df.head()

         date  store  item  ...  sales_lag_364  sales_lag_546  sales_lag_728
0  2013-01-01      1     1  ...      50.611449      49.466249      48.594454
1  2013-01-02      1     1  ...      50.611449      49.466249      48.594454
2  2013-01-03      1     1  ...      50.611449      49.466249      48.594454
3  2013-01-04      1     1  ...      50.611449      49.466249      48.594454
4  2013-01-05      1     1  ...      50.611449      49.466249      48.594454

[5 rows x 20 columns]

took data before date 2017-01-01 as training and after this for testing

In [60]:
train = df.loc[(df["date"] < "2017-01-01"), :] # Until beginning of 2017
val = df.loc[(df["date"] >= "2017-01-01") & (df["date"] < "2017-04-01"), :] # First 3 months of 2017

cols = [col for col in train.columns if col not in ['date', 'id', "sales", "year"]]

In [61]:
cols=['store',
 'item',
 'day',
 'month',
 'weekday',
 'sales_lag_91',
 'sales_lag_98',
 'sales_lag_105',
 'sales_lag_112',
 'sales_lag_119',
 'sales_lag_126',
 'sales_lag_182',
 'sales_lag_364',
 'sales_lag_546',
 'sales_lag_728']

In [62]:
Y_train = train['sales']
X_train = train[cols]

Y_val = val['sales']
X_val = val[cols]

Y_train.shape, X_train.shape, Y_val.shape, X_val.shape

((730500,), (730500, 15), (45000,), (45000, 15))

LINEAR REGRESSION

In [63]:
from sklearn import linear_model

In [64]:
reg = linear_model.LinearRegression()

In [65]:
reg.fit(X_train,Y_train)

LinearRegression()

In [66]:
y_pred=reg.predict(X_val)

In [67]:
def smape(preds, target):
    n = len(preds)
    masked_arr = ~((preds == 0) & (target == 0))
    preds, target = preds[masked_arr], target[masked_arr]
    num = np.abs(preds - target)
    denom = np.abs(preds) + np.abs(target)
    smape_val = (200 * np.sum(num / denom)) / n
    return smape_val

In [68]:
smape(y_pred,Y_val)

5.700175637643756

Polynomial Regression

In [69]:
# importing libraries for polynomial transform
from sklearn.preprocessing import PolynomialFeatures
# for creating pipeline
from sklearn.pipeline import Pipeline
# creating pipeline and fitting it on data
Input=[('polynomial',PolynomialFeatures(degree=2)),('modal',linear_model.LinearRegression())]
pipe=Pipeline(Input)
pipe.fit(X_train,Y_train)

Pipeline(steps=[('polynomial', PolynomialFeatures()),
                ('modal', LinearRegression())])

In [70]:
y_pred=pipe.predict(X_val)

In [71]:
smape(y_pred,Y_val)

4.4003149872935206

Ridge regression

In [72]:
reg = linear_model.Ridge(alpha=.5)

In [73]:
reg.fit(X_train,Y_train)

Ridge(alpha=0.5)

In [74]:
y_pred=reg.predict(X_val)

In [75]:
smape(y_pred,Y_val)

5.700175627358081

Rigde Regression

In [76]:
reg = linear_model.RidgeCV(alphas=np.logspace(7,13))

In [77]:
reg.fit(X_train,Y_train)

RidgeCV(alphas=array([1.00000000e+07, 1.32571137e+07, 1.75751062e+07, 2.32995181e+07,
       3.08884360e+07, 4.09491506e+07, 5.42867544e+07, 7.19685673e+07,
       9.54095476e+07, 1.26485522e+08, 1.67683294e+08, 2.22299648e+08,
       2.94705170e+08, 3.90693994e+08, 5.17947468e+08, 6.86648845e+08,
       9.10298178e+08, 1.20679264e+09, 1.59985872e+09, 2.12095089e+09,
       2.81176870e+09, 3.72759372e+0...
       8.68511374e+09, 1.15139540e+10, 1.52641797e+10, 2.02358965e+10,
       2.68269580e+10, 3.55648031e+10, 4.71486636e+10, 6.25055193e+10,
       8.28642773e+10, 1.09854114e+11, 1.45634848e+11, 1.93069773e+11,
       2.55954792e+11, 3.39322177e+11, 4.49843267e+11, 5.96362332e+11,
       7.90604321e+11, 1.04811313e+12, 1.38949549e+12, 1.84206997e+12,
       2.44205309e+12, 3.23745754e+12, 4.29193426e+12, 5.68986603e+12,
       7.54312006e+12, 1.00000000e+13]))

In [78]:
y_pred=reg.predict(X_val)

In [79]:
smape(y_pred,Y_val)

5.614061715015793

In [80]:
from sklearn.linear_model import TweedieRegressor

In [81]:
reg = TweedieRegressor(power=1, alpha=0.5, link='log')

In [82]:
reg.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_glm/glm.py:323: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res)

TweedieRegressor(alpha=0.5, link='log', power=1)

In [83]:
y_pred=reg.predict(X_val)

In [84]:
smape(y_pred,Y_val)

6.173757795676206

RandomForest Regressor

In [85]:
from sklearn.ensemble import RandomForestRegressor

In [86]:
regr = RandomForestRegressor(max_depth=4, random_state=45)

In [87]:
regr.fit(X_train,Y_train)

RandomForestRegressor(max_depth=4, random_state=45)

In [88]:
y_pred=regr.predict(X_val)

In [89]:
smape(y_pred,Y_val)

5.509917545828138

Light GBM regressor

In [90]:
import lightgbm as lgb

In [91]:

lgb_params = {'metric': {'mae'},
              'num_leaves': 10,
              'learning_rate': 0.02,
              'feature_fraction': 0.8,
              'max_depth': 5,
              'verbose': 0,
              'num_boost_round': 11000,
              'early_stopping_rounds': 200,
              'nthread': -1}

In [92]:
lgbtrain = lgb.Dataset(data=X_train, label=Y_train, feature_name=cols)
lgbval = lgb.Dataset(data=X_val, label=Y_val, reference=lgbtrain, feature_name=cols)

model = lgb.train(lgb_params, lgbtrain,
                  valid_sets=[lgbtrain, lgbval],
                  num_boost_round=lgb_params['num_boost_round'],
                  early_stopping_rounds=lgb_params['early_stopping_rounds'],
                  verbose_eval=200)

y_pred_val = model.predict(X_val, num_iteration=model.best_iteration)  

smape(np.expm1(y_pred_val), np.expm1(Y_val))

/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:118: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:123: UserWarning: Found `early_stopping_rounds` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

Training until validation scores don't improve for 200 rounds.
[200]	training's l1: 0.167875	valid_1's l1: 0.15035
[400]	training's l1: 0.156352	valid_1's l1: 0.146644
[600]	training's l1: 0.151387	valid_1's l1: 0.143972
[800]	training's l1: 0.147831	valid_1's l1: 0.142042
[1000]	training's l1: 0.145189	valid_1's l1: 0.14066
[1200]	training's l1: 0.142876	valid_1's l1: 0.139688
[1400]	training's l1: 0.141362	valid_1's l1: 0.138891
[1600]	training's l1: 0.13997	valid_1's l1: 0.138148
[1800]	training's l1: 0.138611	valid_1's l1: 0.137542
[2000]	training's l1: 0.13756	valid_1's l1: 0.136976
[2200]	training's l1: 0.136698	valid_1's l1: 0.136551
[2400]	training's l1: 0.135901	valid_1's l1: 0.136184
[2600]	training's l1: 0.135101	valid_1's l1: 0.135871
[2800]	training's l1: 0.134394	valid_1's l1: 0.13556
[3000]	training's l1: 0.133753	valid_1's l1: 0.135308
[3200]	training's l1: 0.133299	valid_1's l1: 0.135082
[3400]	training's l1: 0.132812	valid_1's l1: 0.134849
[3600]	training's l1: 0.132412	valid_1's l1: 0.134685
[3800]	training's l1: 0.132033	valid_1's l1: 0.134498
[4000]	training's l1: 0.131733	valid_1's l1: 0.134367
[4200]	training's l1: 0.131431	valid_1's l1: 0.134253
[4400]	training's l1: 0.131142	valid_1's l1: 0.134138
[4600]	training's l1: 0.130898	valid_1's l1: 0.134023
[4800]	training's l1: 0.130662	valid_1's l1: 0.133915
[5000]	training's l1: 0.130451	valid_1's l1: 0.13383
[5200]	training's l1: 0.13023	valid_1's l1: 0.133744
[5400]	training's l1: 0.130034	valid_1's l1: 0.133664
[5600]	training's l1: 0.129849	valid_1's l1: 0.133597
[5800]	training's l1: 0.129686	valid_1's l1: 0.133505
[6000]	training's l1: 0.129536	valid_1's l1: 0.133444
[6200]	training's l1: 0.129394	valid_1's l1: 0.133387
[6400]	training's l1: 0.129249	valid_1's l1: 0.133338
[6600]	training's l1: 0.129106	valid_1's l1: 0.133282
[6800]	training's l1: 0.128976	valid_1's l1: 0.133229
[7000]	training's l1: 0.128833	valid_1's l1: 0.133186
[7200]	training's l1: 0.12871	valid_1's l1: 0.133146
[7400]	training's l1: 0.128593	valid_1's l1: 0.133094
[7600]	training's l1: 0.128484	valid_1's l1: 0.133054
[7800]	training's l1: 0.128369	valid_1's l1: 0.133008
[8000]	training's l1: 0.128267	valid_1's l1: 0.132965
[8200]	training's l1: 0.128167	valid_1's l1: 0.13293
[8400]	training's l1: 0.12806	valid_1's l1: 0.132882
[8600]	training's l1: 0.127958	valid_1's l1: 0.132853
[8800]	training's l1: 0.127861	valid_1's l1: 0.132822
[9000]	training's l1: 0.127771	valid_1's l1: 0.132798
[9200]	training's l1: 0.127689	valid_1's l1: 0.132771
[9400]	training's l1: 0.12761	valid_1's l1: 0.132753
[9600]	training's l1: 0.127531	valid_1's l1: 0.132731
[9800]	training's l1: 0.127458	valid_1's l1: 0.132711
[10000]	training's l1: 0.127375	valid_1's l1: 0.132687
[10200]	training's l1: 0.127302	valid_1's l1: 0.13267
[10400]	training's l1: 0.127233	valid_1's l1: 0.132651
[10600]	training's l1: 0.127164	valid_1's l1: 0.132639
[10800]	training's l1: 0.127091	valid_1's l1: 0.132619
[11000]	training's l1: 0.127021	valid_1's l1: 0.132602
Did not meet early stopping. Best iteration is:
[11000]	training's l1: 0.127021	valid_1's l1: 0.132602

13.633164371743927

getting the best iterations of the model

In [93]:
lgb_params = {'metric': {'mae'},
              'num_leaves': 10,
              'learning_rate': 0.02,
              'feature_fraction': 0.8,
              'max_depth': 5,
              'verbose': 0,
              'nthread': -1,
              "num_boost_round": model.best_iteration}

In [99]:
train.columns

Index(['date', 'store', 'item', 'sales', 'day', 'year', 'month', 'datetime',
       'weekday', 'weekday_name', 'sales_lag_91', 'sales_lag_98',
       'sales_lag_105', 'sales_lag_112', 'sales_lag_119', 'sales_lag_126',
       'sales_lag_182', 'sales_lag_364', 'sales_lag_546', 'sales_lag_728'],
      dtype='object')

loading test file and creating some lag/shift features

In [96]:
test=pd.read_csv('/content/drive/MyDrive/dataset/demand-forecasting-kernels-only/tested.csv')

In [97]:
test.head()

   id        date  store  item  ...  month    datetime  weekday weekday_name
0   0  2018-01-01      1     1  ...      1  2018-01-01        0       Monday
1   1  2018-01-02      1     1  ...      1  2018-01-02        1      Tuesday
2   2  2018-01-03      1     1  ...      1  2018-01-03        2    Wednesday
3   3  2018-01-04      1     1  ...      1  2018-01-04        3     Thursday
4   4  2018-01-05      1     1  ...      1  2018-01-05        4       Friday

[5 rows x 10 columns]

In [100]:
test[['sales','sales_lag_91', 'sales_lag_98',
      'sales_lag_105', 'sales_lag_112',
      'sales_lag_119', 'sales_lag_126',
      'sales_lag_182', 'sales_lag_364', 
      'sales_lag_546', 'sales_lag_728']]=np.nan

In [101]:
test.head()

   id        date  store  ...  sales_lag_364  sales_lag_546  sales_lag_728
0   0  2018-01-01      1  ...            NaN            NaN            NaN
1   1  2018-01-02      1  ...            NaN            NaN            NaN
2   2  2018-01-03      1  ...            NaN            NaN            NaN
3   3  2018-01-04      1  ...            NaN            NaN            NaN
4   4  2018-01-05      1  ...            NaN            NaN            NaN

[5 rows x 21 columns]

In [102]:
train = df.loc[~df.sales.isna()]
Y_train = train['sales']
X_train = train[cols]

X_test = test[cols]

In [103]:
lgbtrain_all = lgb.Dataset(data=X_train, label=Y_train, feature_name=cols)

model = lgb.train(lgb_params, lgbtrain_all, num_boost_round=model.best_iteration)

test_preds = model.predict(X_test, num_iteration=model.best_iteration)

/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:118: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

In [104]:
submission_df = test.loc[:, ['id', 'sales']]
submission_df['sales'] = np.expm1(test_preds)
submission_df['id'] = submission_df.id.astype(int)

submission_df.to_csv('submission.csv', index=False)
submission_df.head(20)

    id      sales
0    0  10.861279
1    1  13.151382
2    2  13.281030
3    3  13.805656
4    4  14.970785
5    5  15.261705
6    6  15.837871
7    7  10.909946
8    8  13.093999
9    9  13.093472
10  10  13.726664
11  11  14.827331
12  12  15.023154
13  13  15.722402
14  14  10.629355
15  15  12.818736
16  16  12.793805
17  17  13.517920
18  18  14.733986
19  19  15.041654